/* GENERAL STYLINGS AND RESETS */

* {
  margin: 0;
  text-align: center;
}

body {
  background-color: ghostwhite;
  color: salmon;
}


/* NAV BAR */

.nav-bar {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px black solid;
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  list-style-type: none;
}


/* HERO SECTION */

.hero {
  height: 95vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 500%;
  cursor: default;
}


/* ABOUT SECTION */

.about {
  height: 100vh;
  height: 100svh;
}


/* PORTFOLIO SECTION */

.portfolio {
  height: 100vh;
  height: 100svh;
}


/* GETTHEREGO CHAT */

.chat-container {
  position: sticky;
}