/* GENERAL STYLINGS AND RESETS */

:root {
  --black: #353238;
  --alice-blue: #DCE1E9;
}

* {
  margin: 0;
  text-align: center;
}

body {
  background-color: var(--alice-blue);
  color: var(--black);
  font-family: 'Raleway', sans-serif; 
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}


/* NAV BAR */

.nav-bar {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px black solid;
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  list-style-type: none;
}

.social-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  list-style-type: none;
}

/* HERO SECTION */

.hero {
  height: 95vh;
  height: 95svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 900%;
  cursor: default;
  font-weight: 900;
  font-style: italic;
}

.hero-image {
  height: 80%;
  position: relative;
}


/* ABOUT SECTION */

.about {
  height: 100vh;
  height: 100svh;
}


/* PORTFOLIO SECTION */

.portfolio {
  height: 200vh;
  height: 200svh;
}


/* GETTHEREGO CHAT */

.chat-container {
  position: sticky;
}