/* GENERAL STYLINGS AND RESETS */

:root {
  --black: #353238;
  --alice-blue: #DCE1E9;
  --red: #D05353;
}

* {
  margin: 0;
  text-align: center;
}

body {
  background-color: var(--alice-blue);
  color: var(--black);
  font-family: 'Raleway', sans-serif; 
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}


/* NAV BAR */

.nav-bar {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px black solid;
  cursor: pointer;
  position: fixed;
  top: 0px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.title {
  font-size: 110%;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 100%;
  list-style-type: none;
}

.nav-item:hover {
  border-bottom: 1px var(--black) solid;
}

.active {
  background-color: var(--black);
  color: var(--alice-blue);
  width: 40%;
  padding: 5% 0px 5% 0;
}

.active:hover {
  border-top: 1px var(--black) solid;
  border-bottom: 1px var(--black) solid;
  background-color: var(--alice-blue);
  color: var(--black);
}


/* HERO SECTION */

.hero {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-title {
  font-size: clamp(200%, 950%, 955%);
  /* KEEP AN EYE ON THE CLAMP */
  cursor: default;
  font-weight: 900;
  /* font-style: italic; */
}


/* SCROLL METER */

.progress {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 3svh;
  height: 3vh;
  background-color: var(--red);
}


/* ABOUT SECTION */

.about {
  height: 100vh;
  height: 100svh;
}


/* PORTFOLIO SECTION */

.portfolio {
  height: 200vh;
  height: 200svh;
}


/* GETTHEREGO CHAT */

.chat-container {
  position: sticky;
}


/* FOOTER SECTION */

.footer {
  height: 20vh;
  height: 20svh;
  margin-bottom: 3vh;
  margin-bottom: 3svh;
  background-color: var(--black);
  color: var(--alice-blue);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.rights {
  margin: 8% 0 0 5%;
}

.footer-items {
  list-style-type: none;
  margin-right: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-item:hover {
  cursor: pointer;
}