---
import About from '../components/About.jsx';
import Chat from '../components/Chat.jsx';
import Footer from '../components/Footer.jsx';
import Hero from '../components/Hero.jsx'
import Portfolio from '../components/Portfolio.jsx';

---
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="src/styles/globals.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name='generator' content={Astro.generator} />
    <title>SILVERADO MEDIA CO.</title>

  </head>
  <body>
    <Hero />
    <About/>
    <Portfolio />
    <Footer />

    <Chat />
  </body>

</html>