---
import About from '../components/About.jsx';
import Chat from '../components/Chat.jsx';
import Footer from '../components/Footer.jsx';
import Hero from '../components/Hero.jsx'
import Portfolio from '../components/Portfolio.jsx';

---
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="assets/images/favicon.png" />
    <link rel="stylesheet" href="src/styles/globals.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name='generator' content={Astro.generator} />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,900;1,100;1,900&display=swap');
    </style>
    <title>SILVERADO MEDIA CO.</title>

  </head>
  <body>
    <Hero />
    <Portfolio />
    <!-- <About/> -->
    <Footer />

    <Chat />
  </body>

</html>